html {
    height: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/home/hero_image.jpg");
    /* background-position: center; */
    background-position-y: -4rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    background-size: cover;
}

#content {
    border-radius: 0.25rem;
    height: 26.5rem;
    width: 35%;
    margin-top: .75%;
    margin-left: 50%;
    margin-right: 10%;
    margin-bottom: 1%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

#content hr {
    width: 80%;
}

#carousel-title p {
    text-align: center;
}