.menu {
    float: right;
    width: 100%;
    background-color: #F8F8F8;  
}
.menu-items {
    margin-top: 50px;
    margin-right: -450px;
    margin-bottom: 5px;
    text-align: center;
}
.menu-items a {
    font-size: 28px;
    color: #2D3142;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-items a:hover {
    color: #B76D68;
}
.menu-items a:link {
    text-decoration: none;
}