html {
    height: 100%;
}

#title {
    font-family: 'Open Sans', sans-serif;
}

#title element {
    color: #B76D68;
}

#menu-item {
    font-family: 'Pontano Sans', sans-serif; 
}

#content h2 {
    text-align: center;
    font-family: 'Chau Philomene One', sans-serif;
    color: #2D3142;
    font-size: 2.5rem;
}

#content h3 {
    text-align: center;
    font-family: 'Pontano Sans', sans-serif; 
    color: #A3A4A4;
    font-size: 1rem;
}

#content p {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Pontano Sans', sans-serif;
    text-align: left;
    color: #000100;
    font-size: 0.75rem;
}

#content li {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Pontano Sans', sans-serif;
    text-align: left;
    color: #000100;
    font-size: 0.75rem;
}

#content label {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 0.85rem;
}

#content h4 {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Pontano Sans', sans-serif;
    text-align: left;
    color: #000100;
    font-size: 1rem;
    font-weight: bold;
}


/*





body {
    margin: 0px;
    padding: 0px;
    background-color: #F8F8F8;
}

body p {
    margin: auto;
    font-size: 16px;
    color: #000100;
}

.meet-otis {
    padding-left: 250px;
    padding-top: 50px;
    padding-right: 200px;
    margin: auto;
}
.meet-otis h2 {
    margin: auto;
    font-size: 80px;
    color: #2D3142;
}

.meet-otis h3 {
    margin: auto;
    font-size: 20px;
    font-style: bold;
    color: #999A9A;
}

#meet-otis-pic {
    padding-right: 25px;
    float: left;
}

hr {
    color: #CCCDCD;
    clear: both;
    align-self: center;
}

p {
    padding-top: 10px;
}

.placeholder-carousel {
    width: 90%;
    padding-top: 100px;
    background-color: grey;
}


*/
