.title {
    float: left;
    background-color: #F8F8F8;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 72px;
    color: #4F5D75;
    text-align: center;
}
.title a {
    color: #B76D68;
}