<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../style.css">
        <title>Otis the Aussie</title>
    </head>
    <body>
        <p>Placeholder picture of otis being confused.</p>        
        {{{body}}}
    </body>

</html>