<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../title.css">
        <link rel="stylesheet" type="text/css" href="../menu.css">        
        <link rel="stylesheet" type="text/css" href="../footer.css">
        <link rel="stylesheet" type="text/css" href="{{style}}">
        <title>Otis the Aussie</title>
    </head>
    <body>
        <div class="menu">
            <h1 class="title">otis<a>the</a>aussie</h1>
            <div class="menu-items">
                <a href="/">home</a>
                <a href="/info">info</a>
                <a href="/about">about</a>
                <a href="/contact">contact</a>
            </div>
        </div>   
        <hr>
        {{{body}}}
        <div class="site-footer">
            <p>otis<a>the</a>aussie</p>
            <div class="site-footer-items">
                <a>home</a>
                <a>info</a>
                <a>about</a>
                <a>contact</a>
            </div>
            <p id="signature">Site by Alex Mu&ntilde;oz</p>
        </div> 
    </body>

</html>