<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <title>Otis the Aussie</title>
    </head>
    <body>
        {{{body}}}
    </body>

</html>