<div id="content">
    <h2>OTIS THE AUSSIE</h2>
    <h3><a class="quote">"HAPPINESS IS A WARM PUPPY."</a> - CHARLES M. SCHULTZ (CARTOONIST, PEANUTS)</h3>
    <hr>
    <div>
        <p>On January 25, 2020, in the rural Virginian town of Union Cross, the newest member of our family was born. It wasn't until 7 weeks later that we met Otis. After a 2-hour drive from North Carolina, we anxiously arrived, not knowing what was in store for us. And it was love at first sight. </p>
        <p>Otis was the most beautiful of his littermates, and the pick of the litter, according to the breeder. He was so calm, and sweet, we couldn't wait to bring our furry friend home. </p>
        <p>It's been over 2 months since we got Otis, and it's been a wild ride!</p>
        <p>
            Otis loves playing with his toys, most recently his giant carrot plush toy, chasing after flying discs, and just
            lounging around the house. He's an adventurous little fella, and explores anything and everything.
        </p>
        <p>At only 4 months, he still has a lot of growing to do, but we can't imagine our lives without Otis anymore!</p>
    </div>
    <div class="container">

    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="card-left col-sm">
                <h4>OTIS CARD</h4>
                <p>
                    Download the Otis card today. Perfect for:
                    <ul>
                        <li>Birthdays</li>
                        <li>Holidays</li>
                        <li>Any Occastion</li>
                    </ul>
                    <a href="../images/home/hero_image.jpg" download="otis-card.jpg">
                        <button type="button" class="download-btn btn btn-primary">Download</button>
                    </a>
                </p>
            </div>        
            <div class="v-rule"></div>
            <div class="card-right col-sm">
                <p>image of card here.</p>
            </div>
        </div>
    </div>
</div>