<div class="hero-image"></div>
<div class="meet-otis">
    <span>
        <h2>MEET OTIS</h2>
        <h3>TWENTY POUNDS OF FUR AND FUN</h3>
        <p>      
            Otis is a four-month-old Australian Shepherd from Greensboro, North Carolina. 
            He is a sweet, smart pup with lots of energy!
            Otis loves playing with his toys and learning new tricks.
        </p>
        <p><em>RECENT ADVENTURES</em></p>
    </span>
</div>

