<div id="content">
    <h2>BREED INFO</h2>
    <h3>ALL ABOUT AUSSIES</h3>
    <hr>
    <! Bootstrap Tabs>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="facts-tab" data-toggle="tab" href="#facts" role="tab" aria-controls="facts" aria-selected="false">Fun Facts</a>
        </li>
    </ul>
    <! Bootstrap Tab Info>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <br>
                        <h4>Australian Shepherd</h4>
                        <p><strong>Temperament:</strong> Smart, Work-Oriented, Exuberant</p>
                        <p><strong>Height:</strong> 20-23 inches (male), 18-21 inches (female)</p>
                        <p><strong>Weight:</strong> 50-65 pounds (male), 40-55 pounds (female)</p>
                        <p><strong>Life Expectancy:</strong> 12-15 years</p>
                        <p><strong>Group:</strong> Herding</p>
                    </div>
                    <div class="v-rule"></div>
                    <div class="col-sm">
                        <br>
                        <br>
                        <p>The australian shepherd, nicknamed the aussie, is a medium-sized herding breed. They are known for their intelligence and endurance. There are multiple coat colors that an aussie can have. Otis has a tri-color coat, being black, white and brown. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <br>
                        <h4>The Origin Story</h4>
                        <div class="overflow-auto history-text">
                            <p>Australian Shepherds are descendants of the Pyrenean Shepherd, a herding dog from the Pyrenees Mountains between France and Spain. There, the indigenous Basques people trained these dogs to herd their sheep and cattle.</p>
                            <p>In the early 1800s, many Basques sailed east to Australia to build pastures, bringing their shepherd dogs with them. It was during this time that the breed was mixed with Collies and Border Collies, bringing the Aussie closer to its modern-day appearance and temperament.</p>
                            <p>The Basques people eventually set sail again, bringing the breed to California. Since the Basques came from Australia, the American ranchers believed the dogs were Australian by nature. This is how they received their name today. </p>
                            <p>The breed was officially welcomed to the AKC in 1993. Aussies are still used as ranching and herding dogs, as well as trained to be service dogs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="facts" role="tabpanel" aria-labelledby="facts-tab">
             <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <br>
                        <h4>Lasso Icon</h4>
                        <p>Aussies are commonly used to herd bulls in rodeos.</p>
                    </div>
                    <div class="v-rule"></div>
                    <div class="col-sm">
                        <br>
                        <h4>Hardhat Icon</h4>
                        <p>From seeing eye dogs to drug sniffers, aussies love having jobs.</p>
                    </div>
                    <div class="v-rule"></div>
                    <div class="col-sm">
                        <br>
                        <h4>Eye Icon</h4>
                        <p>Many aussies have two different eye colors, this condition is known as heterochromia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <! reference footer>
    <div id="reference">
        <p>All facts and statistics courtesy of the American Kennel Club's <a href="https://www.akc.org/dog-breeds/australian-shepherd/">breed info</a> and <a href="https://www.akc.org/expert-advice/lifestyle/australian-shepherd-facts/">facts</a> pages.</p>
    </div>
</div>