<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/../../css/title.css">
        <title>Otis the Aussie</title>
    </head>
    <body>
        <h1 id="title">OTIS<a id="title2">THE</a>AUSSIE</h1>
        {{{body}}}
    </body>

</html>